<div class="h-100 mb-5">
    <header class="masthead d-flex flex-row align-items-center justify-content-center h-100 text-light" style="">
        <div class="container flex-grow-1">
            <%= image_tag asset_path('logo.png'), class: "h-100 w-100" %>
        </div>
        <div class="container d-flex flex-grow-1 justify-content-center align-items-center h-100" style="background: #192a56;">
            <div class="text-center">
                <div class="site-heading">
                    <h1 class="my-auto font-weight-bold">Create New Battle</h1>
                </div>
                <div class="site-heading my-2">
                    <%= link_to 'New Battle', new_battle_path, class: "btn btn-light px-5 py-2" %>
                </div>
            </div>
        </div>
    </header>
    <div class="d-flex flex-column flex-wrap bg-dark py-5">
        <div class="d-flex flex-column py-3 text-center flex-wrap">
            <h1 class="my-2 text-light position-sticky font-weight-bold"><%= 'Battle'.pluralize(@battles.length) %> List</h1>
        <% if @battles.blank? %>
            <p class="my-2">No Battle so far...</p>
        <% else %>
            <div class="d-flex justify-content-end w-100 text-light">
                <%= will_paginate @battles, class: 'pagination border-bottom px-3 py-2' %>
            </div>
            <table class="table table-striped table-dark">
                <thead class="sticky-top">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Battle ID</th>
                        <th scope="col" class="text-start">Players</th>
                        <th scope="col" class="text-start">Status</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody class="h-100">
                <% @battles.each.with_index(@battles.offset + 1) do |battle, index| %>
                    <tr>
                        <th scope="row"><%= index %></th>
                        <td><%= battle.id %></td>
                        <td class="text-start">
                            <span 
                                class="<%= 'text-success' if battle.winner_pokemon_id == battle.pokemon_1.id  %>">
                                <%= battle.pokemon_1.name %>
                            </span>
                            vs
                            <span class="<%= 'text-success' if battle.winner_pokemon_id == battle.pokemon_2.id  %>">
                                <%= battle.pokemon_2.name %>
                            </span>
                        </td>
                        <td class="text-start"><%= battle.status_id.capitalize %></td>
                        <td class="d-flex flex-column flex-lg-row justify-content-center">
                            <%= link_to 'Resume', 
                                battle_path(battle), 
                                class: "btn btn-primary mx-2 font-weight-bold my-lg-0 my-1" if battle.status_id == 'ongoing' %>
                            <%= link_to 'Finish', 
                                    battle_finish_path(battle), 
                                    class: "btn btn-warning mx-2 font-weight-bold my-lg-0 my-1" if battle.status_id == 'ongoing' %>
                            <%= link_to 'See End', 
                                    battle_path(battle), 
                                    class: "btn btn-primary mx-2 font-weight-bold my-lg-0 my-1" if battle.status_id == 'finished' %>
                            <%= button_to 'Delete', 
                                    battle_path(battle), 
                                    method: :delete, 
                                    class: "btn btn-danger mx-2 font-weight-bold my-lg-0 my-1", 
                                    onclick: "return confirm('Are you sure?')" %>   
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>

        <% end %>
        </div>
    </div>
</div>