<div class="h-100 mb-5">
    <header class="masthead d-flex flex-row align-items-center justify-content-center h-100 text-light" style="">
        <div class="container flex-grow-1">
            <%= image_tag asset_path('logo.png'), class: "h-100 w-100" %>
        </div>
        <div class="container d-flex flex-grow-1 justify-content-center align-items-center h-100" style="background: #192a56;">
            <div class="text-center">
                <div class="site-heading">
                    <h1 class="my-auto font-weight-bold">Create New Battle</h1>
                </div>
                <div class="site-heading my-2">
                    <%= link_to 'New Battle', new_battle_path, class: "btn btn-light px-5 py-2" %>
                </div>
            </div>
        </div>
    </header>
    <div class="d-flex flex-wrap bg-light pb-5">
        <div class="container">
            <div class="text-center">
                <h1 class="my-2"><%= 'Battle'.pluralize(@battles.length) %> List</h1>
            </div>
            <div class="d-flex flex-column border border-3 px-3 py-3 font-weight-bold text-dark flex-wrap">
            <% if @battles.blank? %>
                <p class="my-2">No Battle so far...</p>
            <% else %>
                <% @battles.each do |battle| %>
                <div class="d-flex flex-row justify-content-between align-items-baseline my-1">
                    <div class="flex-grow-1">
                        <p class="m-0">
                            <%= "Battle ID: #{battle.id} " %> (
                            <span 
                                class="<%= 'text-success' if battle.winner_pokemon_id == battle.pokemon_1.id  %>">
                                <%= battle.pokemon_1.name %>
                            </span>
                            vs
                            <span class="<%= 'text-success' if battle.winner_pokemon_id == battle.pokemon_2.id  %>">
                                <%= battle.pokemon_2.name %>
                            </span>
                            )
                        </p>
                    </div>
                    <div class="flex-grow-1 flex flex-row">
                        <p class="m-0">
                            <%= "Status: #{battle.status_id.capitalize}" %>
                        </p>
                    </div>
                    <div class="flex-grow-1 justify-content-end d-flex">
                        <%= link_to 'Resume', 
                                battle_path(battle), 
                                class: "btn btn-primary mx-2 font-weight-bold" if battle.status_id == 'ongoing' %>
                        <%= link_to 'Finish', 
                                battle_finish_path(battle), 
                                class: "btn btn-warning mx-2 font-weight-bold" if battle.status_id == 'ongoing' %>
                        <%= button_to 'Delete', 
                                battle_path(battle), 
                                method: :delete, 
                                class: "btn btn-danger mx-2 font-weight-bold", 
                                onclick: "return confirm('Are you sure?')" %>
                    </div>
                </div>
                <% end %>
            <% end %>
            </div>
        </div>
    </div>
</div>