<div class="vh-100" style="background: #192a56;">
    <header class="masthead d-flex flex-row align-items-center justify-content-between py-2 px-5 w-100 text-light">
        <h1 class="">All <%= 'Pokemon'.pluralize(@pokemons.length) %></h1>
        <div class="justify-content-end">
            <%= link_to 'New Pokemon', pokemons_new_path, class: "btn btn-success font-weight-bold mx-2" %>
            <%= link_to 'Heal All', pokemons_heal_path, class: "btn btn-light font-weight-bold text-success mx-2" %>
        </div>
    </header>
    <hr class="border border-3 border-light w-75 mx-auto">
    <% @pokemons.each do |pokemon| %>
    <div class="d-flex flex-row justify-content-between align-content-center text-light font-weight-bold px-5 py-1">
        <div class="flex-grow-1 flex-basis-10">
            <%= link_to pokemon.name, pokemon_path(pokemon), class: "my-0 mx-1 flex-grow-1 text-light font-weight-bold text-decoration-none" %>
        </div>
        <div class="flex-grow-1 d-flex flex-row text-start">
            <p class="my-0 mx-1 flex-grow-1">Speed: <span class="text-success"><%= pokemon.speed %></span></p>
            <p class="my-0 mx-1 flex-grow-1">Attack: <span class="text-success"><%= pokemon.attack %></span></p>
            <p class="my-0 mx-1 flex-grow-1">Defense: <span class="text-success"><%= pokemon.defense %></span></p>
            <p class="my-0 mx-1 flex-grow-1">Sp. Attack: <span class="text-success"><%= pokemon.special_attack %></span></p>
            <p class="my-0 mx-1 flex-grow-1">Sp. Defense: <span class="text-success"><%= pokemon.special_defense %></span></p>
        </div>
        <div class="flex-grow-1">
            <div class="progress overflow-x-auto w-100" id="pokemon_2_maximum_hp">
                <p class="mx-2 font-weight-bold bg-danger text-success">HP</p>
                <div class="progress-bar bg-success" role="progressbar" id="pokemon_2_current_hp" style="width: <%= (100*pokemon.current_hp/pokemon.maximum_hp ) %>%"></div>
            </div>
        </div>
    </div>
    <% end %>
</div>
