<div style="background: url('<%= asset_path("bg") %>');">
    <header class="masthead d-flex flex-row align-items-center justify-content-between pt-5 px-5 w-100 text-dark">
        <h1 class="font-weight-bold">Pokedex</h1>
        <div class="justify-content-end">
            <%= link_to 'New Pokemon', new_pokemon_path, class: "btn btn-outline-success font-weight-bold mx-2" %>
            <%= link_to 'Heal All', pokedex_heal_path, class: "btn btn-success font-weight-bold mx-2" %>
        </div>
    </header>
    <hr class="border border-3 border-light w-75 mx-auto">
    <div class="d-flex flex-row flex-wrap justify-content-start align-content-center text-dark font-weight-bold px-5 py-3">

    <% @pokemons.each do |pokemon| %>
        <div class="card w-25 pt-3">
            <%= image_tag pokemon.image_url, class: 'w-25 mx-auto', onerror: "this.src=#{asset_path('pokeball.png')}" %>
          <div class="card-body">
            <div class="card-title">
                <h5><%= pokemon.name %></h5>
                <div class="progress border border-1 border-success card-text overflow-x-auto w-100">
                    <p class="mx-2 font-weight-bold text-success">HP</p>
                    <div class="progress-bar bg-success" role="progressbar" style="width: <%= (100*pokemon.current_hp/pokemon.maximum_hp ) %>%"></div>
                    <p class="mx-2 font-weight-bold text-success"><%= pokemon.current_hp %>/<%= pokemon.maximum_hp %></p>
                </div>
            
            </div>
                <%= link_to "See Detail", pokemon_path(pokemon), class: "btn btn-primary" %>
          </div>
        </div>
    <% end %>

    </div>
</div>
