<nav class="navbar navbar-dark bg-dark align-items-sm-center justify-content-lg-between justify-content-center px-5 py-3">
  <%= link_to root_url do %>
    <%= image_tag asset_path('logo.png'), width: "150", height: "50", class: "d-inline-block align-top" %>
  <% end %>
    <ul class="navbar-nav d-flex flex-row text-light font-weight-bold">
      <li class="nav-item px-3 active">
        <%= link_to 'Home', root_url, class: "nav-link" %>
      </li>
      <li class="nav-item px-3">
        <%= link_to 'New Battle', new_battle_path, class: "nav-link" %>
      </li>
      <li class="nav-item px-3">
        <%= link_to 'Pokedex', pokemons_path, class: "nav-link" %>
      </li>
    </ul>
</nav>